Repository gitthermal/thermal, pull requests merged in 2019-10, with the labels that each got.

#3577 Migrate to SQLite
  .gitignore
  package.json
  src/database/index.js
  src/renderer/App.vue
  src/renderer/components/TButton/TButton.vue
  src/renderer/components/commit/commitInformation.vue
  src/renderer/components/commit/commitMessage.vue
  src/renderer/components/menubar.vue
  src/renderer/components/navbar.vue
  src/renderer/components/sidebar.vue
  src/renderer/git/commit.js
  src/renderer/git/diff.js
  src/renderer/git/log.js
  src/renderer/git/show.js
  src/renderer/git/status.js
  src/renderer/main.js
  src/renderer/mixins/addRepository.js
  src/renderer/mixins/commands.js
  src/renderer/mixins/queryAllRepository.js
  src/renderer/mixins/repositoryData.js
  src/renderer/modal/addLocalRepository.vue
  src/renderer/modal/newRemote.vue
  src/renderer/pages/repository/commit.vue
  src/renderer/pages/repository/commits.vue
  src/renderer/pages/repository/history.vue
  src/renderer/pages/repository/index.vue
  src/renderer/pages/repository/settings.vue
  src/renderer/pages/repository/stats.vue
  src/renderer/pages/repository/workspace.vue
  src/renderer/pages/welcome.vue
  src/renderer/router/index.js
  src/renderer/store/modules/commands.js
  src/renderer/store/modules/history.js
  src/renderer/store/modules/repository.js
  src/renderer/store/modules/workspace.js
  yarn.lock
Labels: 🏃🏻‍♀️ Priority medium

#3512 Fix nodegit package installation
  azure-pipelines/azure-pipelines.yml
  azure-pipelines/linux.yml
  azure-pipelines/mac.yml
  azure-pipelines/win.yml
  package-lock.json
  package.json
  yarn.lock
Labels: Electron, Git, help wanted, 🐞 Bug, 🔥 Priority High

#3570 Added repository list modal
  src/renderer/App.vue
  src/renderer/components/menubar.vue
  src/renderer/components/repositoryListView/repositoryItem.vue
  src/renderer/components/repositoryListView/repositoryList.vue
  src/renderer/modal/selectRepository.vue
  src/renderer/store/modules/modal.js
Labels: Front end, pair programming, 💡 Feature

#3509 Initialize Git repository (nodegit)
  azure-pipelines/azure-pipelines.yml
  azure-pipelines/linux.yml
  azure-pipelines/mac.yml
  azure-pipelines/win.yml
  package-lock.json
  package.json
  src/renderer/git/init.js
  src/renderer/git/status.js
  yarn.lock
Labels: Git, ⚙ Improvement, 🔥 Priority High
