Repository gitthermal/thermal, pull requests merged in 2019-07, with the labels that each got.

#137 TContainer layout
  src/renderer/App.vue
  src/renderer/assets/css/_container.sass
  src/renderer/assets/css/all.sass
  src/renderer/components/TLayouts/TContainer.vue
  src/renderer/components/TLayouts/TScrollbar.vue
  src/renderer/components/menubar.vue
  src/renderer/pages/repository/history.vue
  src/renderer/pages/repository/index.vue
  src/renderer/pages/repository/settings.vue
  src/renderer/pages/repository/stats.vue
  src/renderer/pages/repository/workspace.vue
  src/renderer/pages/settings/experimental.vue
  src/renderer/pages/settings/index.vue
  src/renderer/pages/welcome.vue
Labels: Front end, ⚙ Improvement

#129 BlankSlate placeholder
  src/renderer/components/BlankSlate.vue
  src/renderer/pages/repository/history.vue
  src/renderer/pages/repository/workspace.vue
Labels: Front end, ⚙ Improvement

#133 TLayout components
  src/renderer/App.vue
  src/renderer/assets/css/_container.sass
  src/renderer/assets/css/all.sass
  src/renderer/assets/css/utilities/_settings.sass
  src/renderer/components/BlankSlate.vue
  src/renderer/components/TLayouts/TContainer.vue
  src/renderer/components/TLayouts/TFlexbox.vue
  src/renderer/components/TLayouts/TScrollbar.vue
  src/renderer/components/commit/commitHistoryItem.vue
  src/renderer/components/commit/commitInformation.vue
  src/renderer/components/diff/diffPreview.vue
  src/renderer/components/dropdown/dropdownList.vue
  src/renderer/components/menubar.vue
  src/renderer/components/navbar.vue
  src/renderer/components/sidebar.vue
  src/renderer/components/windowsButton.vue
  src/renderer/pages/repository/history.vue
  src/renderer/pages/repository/index.vue
  src/renderer/pages/repository/settings.vue
  src/renderer/pages/repository/stats.vue
  src/renderer/pages/repository/workspace.vue
  src/renderer/pages/settings/experimental.vue
  src/renderer/pages/settings/index.vue
  src/renderer/pages/welcome.vue
Labels: Front end, ⚙ Improvement

#141 Electron controller mixin
  src/renderer/components/windowsButton.vue
  src/renderer/mixins/electronController.js
Labels: ⚙ Improvement

#125 Button components
  src/renderer/components/TButton/TButton.vue
  src/renderer/components/buttons/Button.vue
  src/renderer/components/commit/commitMessage.vue
  src/renderer/modal/about.vue
  src/renderer/modal/cloneRepository.vue
  src/renderer/modal/initalizeGitRepository.vue
  src/renderer/pages/repository/settings.vue
  src/renderer/pages/welcome.vue
Labels: Front end, ⚙ Improvement

#100 Help widget
  goodcheck.yml
  sider.yml
  src/renderer/App.vue
  src/renderer/pages/welcome.vue
Labels: Design, Front end

#3484 Fix Typos across thermal repository
  LICENCE
  src/renderer/App.vue
  src/renderer/git/init.js
  src/renderer/modal/initializeGitRepository.vue
  src/renderer/modal/newRepository.vue
  src/renderer/pages/repository/index.vue
  src/renderer/pages/welcome.vue
  src/renderer/store/modules/modal.js
Labels: good first issue

#3470 Update readme.md
  README.md
Labels: ⚙ Improvement

#3507 Fix: package.json not found in information page
  src/renderer/pages/settings/information.vue
Labels: Front end, 🐞 Bug, 🚶🏻‍♀️ Priority low
